COMPOSE_KOMODO_IMAGE_TAG=2
KOMODO_DATABASE_USERNAME=admin
KOMODO_DATABASE_PASSWORD=changeme
KOMODO_HOST=http://192.168.1.104:9120
KOMODO_TITLE=Komodo
KOMODO_PERIPHERY_PUBLIC_KEY=file:/config/keys/periphery.pub
KOMODO_LOCAL_AUTH=true
KOMODO_INIT_ADMIN_USERNAME=admin
KOMODO_INIT_ADMIN_PASSWORD=changeme
KOMODO_FIRST_SERVER_NAME=monitoring
KOMODO_WEBHOOK_SECRET=changeme
KOMODO_JWT_SECRET=changeme
PERIPHERY_CORE_ADDRESS=ws://core:9120
PERIPHERY_CONNECT_AS=monitoring
PERIPHERY_CORE_PUBLIC_KEYS=file:/config/keys/core.pub
PERIPHERY_ROOT_DIRECTORY=/etc/komodo
COMPOSE_KOMODO_BACKUPS_PATH=/etc/komodo/backups
