IMAGE_TAG=java17
MC_PORT=25565
EULA=TRUE
TYPE=MODRINTH
VERSION=1.20.1
MEMORY=8G
MOTD=Prominence II Hasturian Era 1.20.1
DIFFICULTY=normal
MAX_PLAYERS=10
VIEW_DISTANCE=10
SIMULATION_DISTANCE=10
ONLINE_MODE=FALSE
ENABLE_WHITELIST=FALSE
ALLOW_FLIGHT=TRUE
REMOVE_OLD_MODS=FALSE
ENABLE_RCON=FALSE
RCON_PASSWORD=change-me

MODRINTH_MODPACK=https://modrinth.com/modpack/prominence-2-fabric
MODRINTH_LOADER=fabric
MODRINTH_VERSION=
MODRINTH_MODPACK_VERSION_TYPE=release
MODRINTH_FORCE_SYNCHRONIZE=TRUE
MODRINTH_EXCLUDE_FILES=
MODRINTH_FORCE_INCLUDE_FILES=emi
MODRINTH_IGNORE_MISSING_FILES=
MODRINTH_OVERRIDES_EXCLUSIONS=

CF_API_KEY=
CF_PAGE_URL=
CF_MODPACK_ZIP=
CF_MODPACK_MANIFEST=
CF_EXCLUDE_MODS=
CF_FORCE_INCLUDE_MODS=
CF_OVERRIDES_EXCLUSIONS=
CF_FORCE_SYNCHRONIZE=FALSE
